body{margin: 0;}

.color{font-size:23px ;}

.done{font-family: 'Noto Sans', sans-serif;
    color: rgb(236, 8, 160);} 
 .just{color:rgb(173, 241, 224) ;
text-align: justify;}
.button{
    padding: 10px 20px;color: ivory;
    background-image: linear-gradient(46deg,#df1fb6,rgb(252, 6, 141));
    border-radius: 10px;
    text-decoration:none ;
    width: 25%;float: left; 
    margin-left:2%;
    padding-left:1%;
    text-align: center;
    color:white;
}

.vlue{
    width: 40%;float: left; 
    margin-left:5%;
    padding-left:2%;
    margin-top:2%px ;
} 

.vlue img{width:100%;}

.background{background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}

.around{background-image: url("images/biography-bg.png");
background-repeat: no-repeat;
}
section{
     height:650px;
     padding:90px;

}
#cxz{margin-top:15px ;}


  /* 2 section stard    hare?*/

 .bc{background-image: url("images/footer-bg.png");
     background-repeat: no-repeat

}

.center-text{text-align: center;
             font:18px ;

}          


.images{
    width:30%;float: left;
    margin-left:5%;
    padding-left:2%;
    display: block;
    margin-left: auto;margin-right: auto;
    text-align: center;
     
}  
.images img{
    width:100%;}

.text-a{text-align: center;}
.dr{text-align: center; font-size:15px ;color: rgba(172, 154, 154, 0.521);}
.text-d{text-align: center;}


#ra{    background-image: linear-gradient(46deg,#df1fb6,rgb(252, 6, 141));
    color: white;
    border-radius: 6px;
    display:block ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    padding:10px ;


}


.me{text-decoration: none;color: white; text-align: center;}

.ri{text-align: center;color:rgba(63, 54, 66, 0.61);}

.nr{color: rgb(218, 189, 189);}













  .wq{color: rgb(231, 202, 197);font-size:80px ;text-align:center;background-image: lineargradient(47deg,#f8570ce3,rgb(255, 251, 0));
display: block;
margin-left: auto;margin-right: auto;





}
.sss{
    padding: 10px 20px;color: ivory;
    background-image: linear-gradient(46deg,#df1fb6,rgb(252, 6, 141));
    border-radius: 10px;
    text-decoration:none ;
    width: 25%;float: left; 
    margin-left:2%;
    padding-left:1%;
    text-align: center;
    color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p:{color:rgb(255, 0, 21);
background-image: linear-gradient(45deg,#0d49caa8,rgb(255, 81, 0));text-align: center;}


.ddr:hover{background-color: navy;font-size:60px;display: block;margin-left: auto;margin-right: auto;text-align: center;color: aliceblue;}
input:focus{ font-weight:150;font-size:15px;color:white;
box-shadow: 5px red;background-color: rgba(62, 201, 19, 0.815);}

/*

body{counter-reset:section;}
*/
#done::before{counter-increment:section ;
content:"curash"counter(section) ;}

#tm{background-color: deepskyblue !important;}
.ra{color: rgb(185, 33, 33);;background-color: gold  ; }
.zzz{display: block;margin-left: auto;margin-right: auto;}







 


#bound{background-image: linear-gradient(45deg,#0d49caa8,rgb(255, 81, 0));text-align: center;
    
height: 960px;
}


.mmm{text-align: center;

width:40%;height:00px;
font-size:15px;
display: block;margin-left: auto;
margin-right: auto;
margin-top:20px ;
color: white;
}

.zzz{display: block;margin-left: auto;margin-right: auto;text-align: center;}



.ppp{text-align: center;}


.rrr{text-align: center;}





#kkko{background-color: teal;}




.www{color: wheat; font-size:13px ;
    text-align: center;
}





.zzzz{color: white;}





.oooo{width: 521px;}








